<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/Publications">Publications</a></li>
	        	<li><a href="/Tools and methods">Tools and methods</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:gimelbrant_lab_email_any@gmail.com">email</a></li>
        		<li><a href="https://github.com/gimelbrantlab">github.com/gimelbrantlab</a></li>
			</ul>
		</footer>
	</body>
</html>
